<div>
  <div class="wrapper">
    <% @cocktails.each do |cocktail| %>
    <div class="cocktails-div">
      <%= link_to cocktail.name, cocktail_path(cocktail), {class: "username_link"} %>
    </div>
  <% end %>
  </div>
</div>